@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Play:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='732' height='732' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2340ED00' stroke-width='2'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23082900'%3E%3Ccircle cx='769' cy='229' r='13'/%3E%3Ccircle cx='539' cy='269' r='13'/%3E%3Ccircle cx='603' cy='493' r='13'/%3E%3Ccircle cx='731' cy='737' r='13'/%3E%3Ccircle cx='520' cy='660' r='13'/%3E%3Ccircle cx='309' cy='538' r='13'/%3E%3Ccircle cx='295' cy='764' r='13'/%3E%3Ccircle cx='40' cy='599' r='13'/%3E%3Ccircle cx='102' cy='382' r='13'/%3E%3Ccircle cx='127' cy='80' r='13'/%3E%3Ccircle cx='370' cy='105' r='13'/%3E%3Ccircle cx='578' cy='42' r='13'/%3E%3Ccircle cx='237' cy='261' r='13'/%3E%3Ccircle cx='390' cy='382' r='13'/%3E%3C/g%3E%3C/svg%3E");
} 

h1, h2, h3, h4, h5 {
    color: #333;
    font-family: 'Play', sans-serif;
}

p, label {
    color: #444;
    font-family: 'Orbitron', sans-serif;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
/* para afetar apenas um elemento com a mesma tag */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
    width: 400px;

}

textarea {
    padding: 10px 5px;
}

.header {
    height: 160px;
    padding: 20px;
    background-color: #222;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.315);
}

.header h3 {
    color: #fff;
    margin-top: 0;
}
/* Centralizando com width% + margin 0 auto */
.form-container {
    background-color: #fdfdfd;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);

}

.form-header {
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}

.form-header p {
    color: #40ED00;
    border-bottom: 2px solid #40ED00;
    width: 70px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
    transition: 0.8s;
}

.form-header p:hover {
    transform: translate(3px, -4px);
    width: 110px;
    box-shadow: -5px 10px 5px #40ED003d;
    transition: 0.9s;

}

.form-body {
    padding: 30px;
}
.form-title {
    margin-bottom: 15px;
}

.form-body p {
    margin-bottom: 20px;
}

.required-field {
    color: #d80835;
}

.box-input {
    margin-bottom: 35px;
}

.block {
    display: block;
}

.optional-box {
    display: inline-block;
    margin: 0 30px 30px 0;
}

.optional-list li {
    list-style: none;
    margin-bottom: 5px;
}

.box-input  p{ 
    margin-bottom: 15px;
}

.btn-submit {
    background-color: #40ED00;
    color: #fff;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-submit:hover {
    background-color: #fff;
    border-color: #40ED00;
    color: #40ED00;
    transform: translate(3px, -4px);
    box-shadow: -5px 10px 5px #40ED003d;
    transition: 0.8s;
}